.body__cabecalho {
  text-align: center;
  padding: 1rem;
  box-shadow: 5px 0 5px var(--preto);
}

.cabecalho__come-back-link {
  font-size: 18px;
}

.cabecalho__titulo {
  font-size: 25px;
  margin-top: 1rem;
}

@media (min-width: 500px) {
  .cabecalho__come-back-link {
    font-size: 20px;
  }

  .cabecalho__titulo {
    font-size: 30px;
  }
}
