.body__cabecalho {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 0 4px var(--preto);
}

.cabecalho__form {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--cinza1);
}

.cabecalho__form span {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 0.5rem;
}

.input__ghost-checkbox {
  display: none;
}

.leng-input__drop-option,
.unit-input__drop-option,
.temp-unit-input__drop-option {
  display: none;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: var(--branco);
  width: 100%;
}

#cabecalho__leng-input:checked ~ .leng-input__drop-option {
  display: flex;
}

#cabecalho__unit-input:checked ~ .unit-input__drop-option {
  display: flex;
}

#cabecalho__temp-unit-input:checked ~ .temp-unit-input__drop-option {
  display: flex;
}

@media (min-width: 400px) {
  #cabecalho__seach-bar {
    display: none;
  }

  .body__cabecalho {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .cabecalho__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: none;
    padding: 0;
    text-align: center;
  }

  .leng-input__drop-option,
  .unit-input__drop-option,
  .temp-unit-input__drop-option {
    position: absolute;
    margin-top: 4rem;
    border: 1px solid var(--cinza1);
    width: 35%;
    align-items: flex-start;
  }
}

@media (min-width: 720px) {
  .cabecalho__form {
    flex-direction: row;
    justify-content: center;
  }

  .leng-input__drop-option,
  .unit-input__drop-option,
  .temp-unit-input__drop-option {
    width: 30%;
    margin-top: 10rem;
  }
}
