.current-weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.current-weather-box hr {
  width: 100%;
}

#current-input-city {
  display: none;
}

.box__location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: flex-start;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.box__icon-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.section__img {
  width: 10rem;
}

.box__temp-max-min {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 0.5rem;
  font-size: 22px;
}

.max-min__hr {
  display: none;
}

.orther-info__list {
  padding: 1rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.box__more-info-link {
  margin-top: 1rem;
}

@media (min-width: 400px) {
  #current-input-city {
    display: flex;
    box-shadow: none;
  }

  .box__location {
    font-size: 18px;
  }

  .box__icon-section {
    font-size: 20px;
  }

  .section__img {
    width: 12.5rem;
  }

  .box__temp-max-min {
    font-size: 28px;
  }

  .orther-info__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }
}

@media (min-width: 720px) {
  .current-weather-box {
    padding: 2rem;
  }

  .box__location {
    font-size: 20px;
  }

  .box__icon-section {
    font-size: 25px;
  }

  .section__img {
    width: 18rem;
  }

  .box__temp-max-min {
    font-size: 35px;
    flex-direction: column;
    gap: 1.5rem;
  }

  .temp-max-min__div {
    width: 100%;
    text-align: center;
  }

  .max-min__hr {
    display: block;
  }

  .orther-info__list {
    font-size: 20px;
    padding: 2rem;
    gap: 4rem;
  }

  .box__more-info-link {
    margin-top: 1rem;
    font-size: 20px;
  }
}
