.body__rodape {
  text-align: center;
  padding: 2rem;
  box-shadow: 10px 0 5px var(--preto);
}

.rodape__copy {
  margin-top: 2rem;
}

@media (min-width: 720px) {
  .body__rodape {
    font-size: 18px;
  }
}
